/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

:root {
  --main-blue: rgba(0, 100, 255, 0.7);
  --main-blue-2: rgba(0, 100, 255, 0.5);
  --main-blue-3: rgba(0, 100, 255, 0.3);
  --main-white: rgba(240, 240, 240, 1);
  --main-white-2: rgba(240, 240, 240, 0.7);
  --main-black: rgba(0, 0, 0, 0.8);
  --main-black-2: rgba(0, 0, 0, 0.6);
  --main-black-3: rgba(0, 0, 0, 0.1);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-overflow-scrolling: touch;
  margin: 0;
  overflow: hidden;
}

body {
  font: 1em "Roboto", Verdana;
  height: 100vh;
  margin-top: 40px;
  overflow: hidden;
}

#main {
  min-height: calc(100vh - 40px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  scroll-behavior: smooth;
}

.grow-1 {
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.grow-1:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.grow-2 {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.grow-2:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 5px;
  padding-right: 10px;
  font-family: "Sintony";
  background-color: var(--main-black);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  -webkit-box-shadow: 0 2px 10px black;
  box-shadow: 0 2px 10px black;
  z-index: 1;
}

.nav-link {
  color: var(--main-white-2);
  height: 100%;
  padding: 2px 20px;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-link:hover {
  color: var(--main-white);
  font-weight: bold;
  opacity: 1;
}

.icons {
  display: flex;
}

.fab,
.far {
  color: var(--main-black);
  display: block;
  margin: 0 20px;
  font-size: 4em;
  text-decoration: none;
}

section {
  padding-top: 100px;
  min-height: 100vh;
}

#welcome-section {
  padding-top: 20vh;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 4px;
  color: var(--main-black);
}

.author {
  margin: 0;
  font-size: 5em;
}

.role {
  padding: 15px 20px;
  margin: 15px 0 80px;
  font-size: 1.4em;
  border-top: 1px solid var(--main-black-3);
  border-bottom: 1px solid var(--main-black-3);
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 100px;
}

.project-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 1500px;
}

.project-tile {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  margin: 20px 1.3%;
  max-width: 25em;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-tile:hover .project-content {
  color: var(--main-white);
}

.project-img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.project-content {
  color: var(--main-white-2);
  background-color: var(--main-black-2);
  text-align: center;
  margin: 0;
  padding: 0;
}

.project-content p {
  margin: 0;
  height: 100%;
  padding: 1em;
  font-size: 1.3em;
}

.show-all {
  display: block;
  padding: 15px 25px;
  margin: 20px 0;
  background-color: var(--main-black-2);
  color: var(--main-white-2);
  text-decoration: none;
  font-size: 1.3em;
}

.show-all:hover {
  color: var(--main-white);
}

.play {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -50%;
  left: -50%;
  background-image: -o-linear-gradient(160deg, var(--main-blue-3) 0, var(--main-blue-3) 10%, var(--main-blue-2) 10%, var(--main-blue-2) 30%, var(--main-blue) 30%, var(--main-blue) 100%);
  background-image: linear-gradient(-70deg, var(--main-blue-3) 0, var(--main-blue-3) 10%, var(--main-blue-2) 10%, var(--main-blue-2) 30%, var(--main-blue) 30%, var(--main-blue) 100%);
  opacity: 0.6;
  z-index: -1;
  -webkit-animation: play 3s ease-in-out infinite alternate;
  animation: play 3s ease-in-out infinite alternate;
}

.play-1 {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

.play-2 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

@-webkit-keyframes play {
  from {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  to {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
}

@keyframes play {
  from {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  to {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
}

@media screen and (max-width: 1060px) {
  .project-tile {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 30em;
  }
}

@media screen and (max-width: 750px) {
  .project-tile {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 85%;
  }
}