#about {
  height: 90vh;
  max-width: 90rem;
}

.about-article {
  width: auto;
  max-width: 56rem;
  margin-bottom: 3rem;
}

.icons {
  margin-top: 20rem;
}

@media screen and (max-height: 576px) {
  #about {
    height: auto;
  }
}
