@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../assets/fonts/Sen-Regular.woff') format('woff'),
    url('../assets/fonts/Sen-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sen';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src:
    url('../assets/fonts/Sen-Bold.woff') format('woff'),
    url('../assets/fonts/Sen-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sen';
  font-style: bolder;
  font-weight: 800;
  font-display: swap;
  src:
    url('../assets/fonts/Sen-ExtraBold.woff') format('woff'),
    url('../assets/fonts/Sen-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../assets/fonts/Roboto-Regular.woff') format('woff'),
    url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src:
    url('../assets/fonts/Roboto-Bold.woff') format('woff'),
    url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: bolder;
  font-weight: 800;
  font-display: swap;
  src:
    url('../assets/fonts/Roboto-Black.woff') format('woff'),
    url('../assets/fonts/Roboto-Black.ttf') format('truetype');
}
