@import url(fonts.css);
@import url(header.css);

:root {
  --main-white: rgba(240, 240, 240, 1);
  --main-white-2: rgba(240, 240, 240, 0.6);
  --main-white-3: rgba(240, 240, 240, 0.1);
  --main-black: rgba(24, 24, 35, 1);
}

body {
  font: 1rem Sen, Roboto;
  color: var(--main-white);
  background-color: var(--main-black);
}

.grow-1 {
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.grow-1:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.grow-2 {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.grow-2:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
