.about-article {
  max-width: 56rem;
  width: auto;

  @include media-breakpoint-down(xs) {
    h1 {
      font-size: xx-large;
    }

    p {
      font-size: large;
    }
  }
}

.hero {
  background: transparent;
  margin-top: 10vh;
  min-height: 80vh !important;
}
