@mixin font-face($path, $family, $style: normal, $weight: 400, $display: swap) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-display: $display;
    src: url("#{$path}.woff") format("woff"), url("#{$path}.ttf") format('truetype');
  }
}

@include font-face("../assets/fonts/Sen-Regular", Sen);
@include font-face("../assets/fonts/Sen-Regular", Sen, bold, 700);
@include font-face("../assets/fonts/Sen-Regular", Sen, bolder, 800);
@include font-face("../assets/fonts/Sen-Regular", Roboto);
@include font-face("../assets/fonts/Sen-Regular", Roboto, bold, 700);
@include font-face("../assets/fonts/Sen-Regular", Roboto, bolder, 800);
