@mixin font-face($path, $family, $weight: 400, $display: swap) {
  @font-face {
    font-display: $display;
    font-family: $family;
    font-weight: $weight;
    src: url("#{$path}.woff") format("woff"),
      url("#{$path}.ttf") format("truetype");
  }
}

@include font-face("../assets/fonts/Sen-Regular", Sen);
@include font-face("../assets/fonts/Sen-Bold", Sen, 700);
@include font-face("../assets/fonts/Sen-ExtraBold", Sen, 800);
@include font-face(
  "../assets/fonts/Saira-Stencil-One-Regular",
  "Saira Stencil One"
);
