$nav-height: 10vh;
$nav-height-min: 4rem;
$font-size: x-large;
$shadow: 0.25rem;

header {
  border-bottom: $line-width solid $dark-gray;
}

.brand-name {
  font-family: "Saira Stencil One", cursive;
}

nav {
  background-color: $dark;
  height: $nav-height;
  max-width: $app-width;
  min-height: $nav-height-min;
}

.nav-link {
  color: $gray;
  font-size: $font-size;
  letter-spacing: $line-width;

  &:not(.active):hover {
    color: $white;
    opacity: 1;
  }

  &:first-child {
    @include media-breakpoint-down(sm) {
      border-bottom: $line-width solid $dark-gray;
      border-top: $line-width solid $dark-gray;
    }
  }
}
