.svg-inline--fa:not(.fa-chevron-right) {
  color: $gray;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: $white;
    transform: scale(1.3);
  }
}

.icons-main {
  min-width: 18rem;
  width: auto;

  @include media-breakpoint-down(lg) {
    min-width: auto;
  }
}

.icons-footer {
  font-size: xx-large;
}
