.border-top-rounded {
  border-radius: 50px 50px 0 0;
}

.border-rounded {
  border-radius: 50px;
}

.border-glow {
  box-shadow: 1px 1px 8px $gray, -1px -1px 8px $gray;
}

.card:hover {
  color: $white;
}

.project-content {
  color: $gray;
  background-color: $dark;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.03);
}

.show-all {
  background-color: $dark;
  color: $gray;
  text-decoration: none;
}

.show-all:hover {
  background-color: $dark;
  color: $white;
}
